<div class="row">
  <div class="col-sm-12">
    <div class="jumbotron">
      <h2 class="text-success">Dias 22 e 23 de Abril de 2016</h2>
      <h3>Água Boa - MT</h3>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-warning">
      <div class="panel-body" style="min-height: 200px;">
        <div class="">
          <h3>Consulte sua Inscrição</h3>
          <form name="frmConsulta">
            <div class="form-group">
              <label for="">Código da Inscrição:</label>
              <input type="text" class="form-control" id="" required="required" ng-model="codgInscricao">
            </div>
            <a href="#/inscricao/{{codgInscricao}}" class="btn btn-primary btn-block btn-sm" ng-disabled="frmConsulta.$invalid">Consultar</a>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-warning">
      <div class="panel-body" style="min-height: 200px;">
        <div class="">
          <h3>Ainda não fez sua inscrição?</h3>
          <br>
          <br>
          <a href="#/inscricao" class="btn btn-success btn-block btn-lg">Fazer Inscrição</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Mais Informações</h4>
      </div>
      <div class="panel-body">
        <div class="col-sm-6">
          <h4>Local do evento:</h4>
          <!-- <div map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="https://maps.google.com/maps/api/js">
            <ng-map zoom="15" center="[-14.0541872, -52.1621021]">
              <custom-marker position="[-14.056302, -52.161173]">
                <div class="cm">
                  Câmara de vereadores
                </div>
              </custom-marker>
            </ng-map>
          </div> -->
          <strong><p>A.'.R.'.L.'.S.'. Luzes dos Terceiro Milênio</p></strong>
          <p>Rua 14, S/N - Guarujá, Água Boa - MT</p>
        </div>
        <div class="col-sm-6">
          <h4>Alojamento e refeições:</h4>
          <strong><p>Escola Estadual Antônio Gröhs</p></strong>
          <p>Rua 7, 456 - Centro, Água Boa - MT</p>
        </div>
      </div>
    </div>
  </div>
</div>
